<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="simpleSection" type="CustomConfigurationSection.Configuration.SimpleSectionHandler,  CustomConfigurationSection" />
        <section name="oneElementSection" type="CustomConfigurationSection.Configuration.OneElementSectionHandler,  CustomConfigurationSection" />
        <section name="elementCollectionSection" type="CustomConfigurationSection.Configuration.ElementCollectionSectionHandler,  CustomConfigurationSection" />

        <sectionGroup name="MyGroup">
            <section name="simpleSection" type="CustomConfigurationSection.Configuration.SimpleSectionHandler,  CustomConfigurationSection" />
            <section name="oneElementSection" type="CustomConfigurationSection.Configuration.OneElementSectionHandler,  CustomConfigurationSection" />
        </sectionGroup>
    </configSections>

    <simpleSection attribute1="simpleSection attribute1 value" attribute2="simpleSection attribute2 value"/>

    <oneElementSection attribute1="oneElementSection attribute1 value">
        <oneElement attribute1="oneElement attribute1 value"/>
    </oneElementSection>

    <elementCollectionSection>
        <oneElementCollection>
            <oneElement attribute1="Element 1 value"/>
            <oneElement attribute1="Element 2 value"/>
        </oneElementCollection>
    </elementCollectionSection>

</configuration>