<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="EPBasicService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/" binding="wsHttpBinding"
                bindingConfiguration="EPBasicService" contract="IBasicService"
                name="EPBasicService">
                <identity>
                    <userPrincipalName value="schererm@groupinfra.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>