<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <!-- 
    Use https://www.connectionstrings.com for help to build connection strings 
    --> 

    <connectionStrings>
        <add name="SqlClient_SQLServer" connectionString="Server=WMLI112265\MSSQLSERVER14;Database=Test1;Integrated Security=true"/>
        <add name="SqlClient_MySql" connectionString="Server=localhost;Database=test1;Uid=root;Pwd=tarelugnt"/>


        <add name="Odbc_SqlServer" connectionString="Driver={SQL Server};Server=WMLI112265\MSSQLSERVER14;Database=Test1;Integrated Security=true"/>
        <add name="Odbc_Excel" connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};Dbq=C:\Temp\Test1.xlsx"/>
        <add name="Odbc_MySql" connectionString="Provider=MSDASQL;Driver={MySQL ODBC 5.3 ANSI Driver};Server=localhost;Database=test1;User=root;Password=tarelugnt"/>

    </connectionStrings>
</configuration>
