<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
        <add name="SqlClient"       connectionString="Server=WMLI112265\MSSQLSERVER14;Database=Test1;Integrated Security=true"/>

        <add name="Odbc_SqlServer"  connectionString="Driver={SQL Server};Server=WMLI112265\MSSQLSERVER14;Database=Test1;Integrated Security=true"/>
<!--        
        <add name="Odbc_Excel"      connectionString="Driver={Microsoft Excel Driver (*.xls)};DriverId=790;Dbq=C:\Temp\Test1.xls;DefaultDir=c:\Temp"/> 
-->
        <add name="Odbc_Excel"      connectionString="Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};Dbq=C:\Temp\Test1.xlsx"/>

    </connectionStrings>
</configuration>