body {
}

td.title 
{
  font-size: 1em;
  text-align: center;
  font-family: verdana;
  font-size: x-large;
  font-weight: bolder;
  color: Yellow;
}

table.header
{
  background-color: Red;
}

h1
{
  font-size: large;
  color: yellow;
}

h2
{
  font-family: Verdana;
  font-size: medium;
  margin-top: 30;
  color: Red;
}

p
{
  font-family: Verdana;
  font-size: small;
  color: Orange;
  text-align: left;
}

hr
{
  border: 0;
  border-top: 2px solid Orange;
  height: 2px;
}